*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid{
    
    border: 1px solid black;
    width: 1000px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

#grid .cell{
    border: 1px solid black;
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.azure{
    background-color: rgb(55, 233, 233);
}